<app-admin-navbar [containerClass]="'dashboard-container'" [contentClass]="'dashboard-main'">
  <div class="cards">
      <mat-card>
        <mat-card-header>
          <mat-icon>event</mat-icon>
          <mat-card-title>Agendamentos Hoje</mat-card-title>
        </mat-card-header>
        <mat-card-content>{{ stats?.agendamentosHoje }}</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon>people</mat-icon>
          <mat-card-title>Total Usuários</mat-card-title>
        </mat-card-header>
        <mat-card-content>{{ stats?.totalUsuarios }}</mat-card-content>
      </mat-card>
    </div>

    <div class="filters">
      <mat-form-field appearance="fill" class="search-field">
        <mat-label>Buscar</mat-label>
        <input matInput (input)="applyFilters($event)" placeholder="Buscar" />
      </mat-form-field>
    </div>

    <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort class="mat-elevation-z8 dashboard-table">
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let a">{{ a.data | date: 'dd/MM/yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
        <td mat-cell *matCellDef="let a">{{ formatHora(a.hora) }}</td>
      </ng-container>
      <ng-container matColumnDef="saram">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Saram</th>
        <td mat-cell *matCellDef="let a">{{ a.militar?.saram || 'Não informado' }}</td>
      </ng-container>
      <ng-container matColumnDef="postoGrad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Posto/Grad</th>
        <td mat-cell *matCellDef="let a">{{ a.militar?.postoGrad || 'Não informado' }}</td>
      </ng-container>
      <ng-container matColumnDef="nomeDeGuerra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome de Guerra</th>
        <td mat-cell *matCellDef="let a">
          {{ formatarNome(a.militar?.nomeDeGuerra) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
        <td mat-cell *matCellDef="let a">
          {{ formatarCategoria(a.militar?.categoria) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let a">
          <button mat-icon-button color="warn" (click)="deleteAgendamento(a)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</app-admin-navbar>
