<app-admin-navbar>
  <div class="admin-container">
    <h1>Painel de Administração</h1>
    <button mat-raised-button color="primary" (click)="gerenciarHorariosOficial()">Horários - Oficial</button>
    <button mat-raised-button color="primary" (click)="gerenciarHorariosGraduado()">Horários - Graduado</button>
    <button mat-raised-button color="primary" (click)="abrirDashboard()">Dashboard</button>
    <button mat-raised-button color="primary" (click)="gerenciarUsuarios()">Usuários</button>
    <button mat-raised-button color="primary" (click)="verAusencias()">Ausências</button>
    <button mat-raised-button color="warn" (click)="logout()" style="margin-left: 10px;">Sair</button>
  </div>
  <router-outlet></router-outlet>
</app-admin-navbar>
