.admin-layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.dashboard-sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  overflow-y: auto;
  flex-shrink: 0;
  background-color: #070F5E;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.sidebar-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
}

.dashboard-sidenav a {
  color: #ffffff !important;
  padding: 0.75rem 1rem;
  margin: 0.25rem 0;
}

.dashboard-sidenav a:hover,
.dashboard-sidenav a.active-link {
  background-color: #3949ab;
  color: #ffffff !important;
}

.admin-header {
  background-color: #070F5E;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 240px;
  width: calc(100% - 240px);
  z-index: 1000;
}

.logo-gap {
  width: 6rem;
  height: auto;
}

.logo-barbearia {
  height: auto;
  width: 12rem;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  justify-content: center;
}

.right button {
  background: none;
  border: none;
  color: white;
  margin-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.admin-layout .mat-sidenav-content {
  flex: 1;
}

.main-content {
  margin-top: 4.5rem;
  margin-left: 240px;
  padding: 2rem;
  width: calc(100% - 240px);
  min-height: calc(100vh - 4.5rem);
}
