<h1 mat-dialog-title class="confirm-dialog__title">Confirmação</h1>
<div mat-dialog-content class="confirm-dialog__content">
  <p class="confirm-dialog__warning-text">
    Tem certeza que deseja alternar os horários do dia {{ data.dia | uppercase }}?
  </p>
</div>
<div mat-dialog-actions class="confirm-dialog__actions">
  <button mat-button color="warn" (click)="cancelar()" class="confirm-dialog__button">CANCELAR</button>
  <button mat-button color="primary" (click)="confirmar()" class="confirm-dialog__button">CONFIRMAR</button>
</div>
