<h1 mat-dialog-title class="confirm-dialog__title">Confirmação</h1>
<div mat-dialog-content class="confirm-dialog__content">
  <p class="confirm-dialog__warning-text">
    Tem certeza que deseja desmarcar este horário?
  </p>
  <p class="confirm-dialog__info">
    Dia: <b>{{ dados.dia | uppercase }}</b>
  </p>
  <p class="confirm-dialog__info">
    Hora: <b>{{ dados.hora.substring(0,5) }}</b>
  </p>
  <div *ngIf="dados.militar as m">
    <p class="confirm-dialog__info"><strong>SARAM:</strong> {{ m.saram }}</p>
    <p class="confirm-dialog__info"><strong>Nome:</strong> {{ m.nomeCompleto }}</p>
    <p class="confirm-dialog__info"><strong>Email:</strong> {{ m.email }}</p>
    <p class="confirm-dialog__info"><strong>Seção:</strong> {{ m.secao }}</p>
    <p class="confirm-dialog__info"><strong>Ramal:</strong> {{ m.ramal }}</p>
  </div>
</div>
<div mat-dialog-actions class="confirm-dialog__actions">
  <button mat-button (click)="dialogRef.close(false)" class="confirm-dialog__button">
    CANCELAR
  </button>
  <button mat-button color="warn" (click)="desmarcar()" class="confirm-dialog__button">
    DESMARCAR
  </button>
</div>