.confirm-dialog__title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.confirm-dialog__content {
  text-align: left;
}

.confirm-dialog__warning-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.confirm-dialog__actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.confirm-dialog__button {
  min-width: 80px;
 }

@media (max-width: 600px) {
  :host ::ng-deep .mat-dialog-container {
    max-width: 95vw !important;
  }
  .confirm-dialog__title,
  .confirm-dialog__content {
    word-wrap: break-word;
  }
}
