<mat-card class="tabela-card" *ngIf="usuarioCarregado">
  <mat-card-content class="tabela-card-content">
    <!-- Mensagem de Feedback -->
    <div *ngIf="feedbackMessageTitle" class="feedback-message">
      {{ feedbackMessageTitle }}
    </div>
    <ng-template #indisponivel>
      <button mat-raised-button disabled [ngClass]="'INDISPONIVEL' | statusFormat : 'tabelaClass'">
        {{ 'INDISPONIVEL' | statusFormat }}
      </button>
    </ng-template>

    <!-- Tabela Principal -->
    <table class="tabela" *ngIf="!agendamentoBloqueado">
      <thead class="tabela-header">
        <tr>
          <th>HORÁRIO</th>
          <th *ngFor="let dia of diasDaSemana; let i = index; trackBy: trackByDia" class="tabela-header-dia">
            {{ (diaLabelMap[dia] + ' - ' + diasComData[i]) | uppercase }}
          </th>
        </tr>
      </thead>
      <tbody class="tabela-body">
        <tr *ngFor="let hora of horariosBaseSemana; trackBy: trackByHora" class="tabela-linha-horario">
          <td class="tabela-coluna-horario">
            {{ hora }}
          </td>
          <td *ngFor="let dia of diasDaSemana; trackBy: trackByDia" class="tabela-coluna-dia">
            <ng-container *ngIf="getSlot(dia, hora) as slot; else indisponivel">
              <button
                mat-raised-button
                [disabled]="slot.status === 'INDISPONIVEL'"
                [color]="slot.status === 'DISPONIVEL' ? 'primary' : undefined"
                [ngClass]="slot.status | statusFormat : 'tabelaClass'"
                (click)="handleClick(getAgendamentoParaDiaHora(dia, hora), getLabelDiaComData(dia), hora)"
              >
                {{ slot.status | statusFormat }}
              </button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>

  </mat-card-content>
</mat-card>
