<mat-card class="tabela-card" *ngIf="usuarioCarregado">
  <mat-card-content class="tabela-card-content">
    <!-- Mensagem de Feedback -->
    <div *ngIf="feedbackMessageTitle" class="feedback-message">
      {{ feedbackMessageTitle }}
    </div>

    <!-- Tabela Principal -->
    <table class="tabela">
      <thead class="tabela-header">
        <tr>
          <th>HORÁRIO</th>
          <th *ngFor="let labelDia of diasComData; let i = index; trackBy: trackByIndex" class="tabela-header-dia">
            {{ labelDia | uppercase }}
          </th>
        </tr>
      </thead>
      <tbody class="tabela-body">
        <tr *ngFor="let hora of horariosBaseSemana; trackBy: trackByHora" class="tabela-linha-horario">
          <td class="tabela-coluna-horario">
            {{ hora }}
          </td>
            <td *ngFor="let dia of diasDaSemana; trackBy: trackByDia" class="tabela-coluna-dia">
              <ng-container *ngIf="getSlot(dia, hora) as slot; else indisponivel">
                <button [ngClass]="statusClass(slot.status)">
                  {{ slot.status | titlecase }}
                </button>
              </ng-container>
              <ng-template #indisponivel>
                <button [ngClass]="statusClass('INDISPONIVEL')">Indisponível</button>
              </ng-template>
            </td>
        </tr>
      </tbody>
    </table>

  </mat-card-content>
</mat-card>
