// Custom Theming for Angular Material
@use '@angular/material' as mat;

@include mat.core();

// Define the palettes
$barbearia-front-primary: mat.define-palette(mat.$blue-palette);
$barbearia-front-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$barbearia-front-warn: mat.define-palette(mat.$red-palette);

// ✅ Aqui estava faltando:
$barbearia-front-theme: mat.define-light-theme((
  color: (
    primary: $barbearia-front-primary,
    accent: $barbearia-front-accent,
    warn: $barbearia-front-warn,
  )
));

// Inclui os estilos do tema
@include mat.all-component-themes($barbearia-front-theme);
