.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;          /* default icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto-light.woff2') format('woff2');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto-regular.woff2') format('woff2');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto-medium.woff2') format('woff2');
    font-weight: 500;
  }
  
  /* Montserrat */
  @font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/montserrat-light.woff2') format('woff2');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/montserrat-regular.woff2') format('woff2');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/montserrat-bold.woff2') format('woff2');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Material Icons';
    src: url('/assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }
  