/* IMPORTA DEFINIÇÕES DE FONTES LOCAIS */
@import './fonts.css';

/* === ESTILO GLOBAL === */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #0D47A1;
  color: #ffffff;
}

:root {
  --footer-height: 2.3rem;
}

@media (max-width: 767px) {
  :root {
    --footer-height: 2.6rem;
  }
}

/* APLICAÇÃO EXPLÍCITA EM ELEMENTOS DO ANGULAR MATERIAL */
.mat-typography,
.mat-button,
.mat-icon-button,
.mat-form-field,
.mat-table,
.mat-header-cell,
.mat-cell,
.mat-dialog-title,
.mat-dialog-content,
.mat-dialog-actions {
  font-family: 'Open Sans', sans-serif !important;
}

/* === SNACKBAR CUSTOM === */
.mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-size: 18px !important;
}

.mat-mdc-snack-bar-container .mdc-button__label {
  color: #4e739e;
  font-weight: 800;
}

/* === SCROLL PERSONALIZADO === */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #2196f3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1976d2;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* === CONTAINERS E AJUSTES === */
.page-container {
  height: calc(100vh - var(--footer-height)); /* ajuste de espaço do rodapé */
  width: 100%;
  padding-bottom: calc(var(--footer-height) + 1rem);
}
