<h2 mat-dialog-title class="dlg-title">Gerenciar Horários</h2>

<div mat-dialog-content class="dlg-content">
  <div class="row">
    <mat-button-toggle-group multiple [(ngModel)]="diasSelecionados">
      <mat-button-toggle *ngFor="let dia of diasDaSemana" [value]="dia.value">
        {{ dia.label }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Início</mat-label>
      <input matInput type="time" [(ngModel)]="horaInicio" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fim</mat-label>
      <input matInput type="time" [(ngModel)]="horaFim" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Intervalo (min)</mat-label>
      <input matInput type="number" [(ngModel)]="intervalo" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="gerarHorarios()">Gerar</button>
  </div>

  <div class="row grade-horarios">
    <mat-checkbox *ngFor="let h of horariosGerados" [(ngModel)]="h.selecionado">
      {{ h.hora }}
    </mat-checkbox>
  </div>
</div>

<div mat-dialog-actions class="dlg-actions">
  <button mat-button (click)="selecionarTodos()">Selecionar todos</button>
  <button mat-button (click)="limparSelecao()">Limpar</button>
  <span class="spacer"></span>
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="confirmar()">Confirmar</button>
</div>
